.main
  .main__header
    .main__header__left
      %h2.main__header__left__group
        = @group.name
      %h3.main__header__left__member
        Member : 
        - @group.users.each do |user|
          = user.name
    
    = link_to "Edit", edit_group_path(@group), class: 'main__header__editbtn'
  
  
  .main__posted
    = render @messages


  .main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'main__form__index', placeholder: 'type a message'
      .main__form__frame
        = f.label :image, class: 'main__form__frame--image' do
          = icon('fas', 'image', class: 'main__form__frame--image--icon')
          = f.file_field :image, class: 'main__form__frame--image--file'     
      = f.submit 'Send', class: 'main__form__btn'
    
